body,html{
    font-family: sans-serif;
}

h1{
    color: white;
    font-family: sans-serif;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
input{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: transparent;
}

select{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: transparent;
}

label{
    color: white;
}

table{
    color: white;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:solid rgba(196, 196, 196, 0.404) 1px;
    text-align: center;
}

.hidden{
        visibility: hidden;
}

.off{
    display: none;
}
.on{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#container{
    width: 85vw;
    height: 80vh;
    background-color: rgb(24, 24, 24);
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

#ajoutEleve{
    display: flex;
    justify-content: space-between;
    
}
.textAjoutEleve{
    margin-right: 35px;
    color: white;
    margin-left: 25px;
}
.spanAjoutEleve{
    width: 300px;
    display: flex;
}
.btnAjoutEleve{
    background-color: rgb(24, 24, 24);
    border: solid white 1px;
    border-radius: 10px;
    color: white;
    padding-left: 20px;
    padding-right: 20px ;
}


.blanc{
    background-color: rgb(216, 216, 216);
    color: black;
}

#form1{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-start;
    margin-right: 20px;
}
#form2{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: flex-start;
    margin-right: 20px;
}
#form3{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
}

.btnEnvoyer{
    grid-column: 1/3;
    width: 100px;
    margin-left: auto;
    background-color: rgb(24, 24, 24);
    border: solid white 1px;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#selectionContainer{
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr 1fr;
    gap: 10px;
}

#textMoyenne{
    grid-column: 1/5;
    color: white;
    text-align: right;
    margin-top: 3vh;
    margin-bottom: 15px;
    font-size: 22px;
}

#notes{
    margin-top: 25px;
}

